<!doctype html>
<html lang="en" th:replace="base :: base(~{::#content}, _)" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Yablog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{~/static/css/bootstrap.min.css}">
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{~/static/css/style.css}">

    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
          integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" rel="stylesheet"/>
</head>

<body>
<div id="content">
    <div class="container" id="pinned" th:if="${pinned != null}">
        <div th:replace="posts :: post-list(${pinned})"></div>
    </div>

    <div class="container">
        <div th:replace="posts :: post-page-list(${posts})"></div>
    </div>
</div>

</body>

</html>