<!doctype html>
<html lang="en" th:replace="base :: base(~{::#content}, _)" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Yablog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{~/static/css/bootstrap.min.css}">
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{~/static/css/style.css}">
</head>

<body>

<div id="content">
    <div class="container">
        <div class="card">
            <div class="card-body bg-dark text-light">
                <div class="card-title d-flex justify-content-between align-items-start">
                    <h5 th:text="${post.title}">POST TITLE </h5>
                    <div class="post-controls">
                        <a class="card-link btn btn-sm btn-secondary" href="#" sec:authorize="isAuthenticated()"
                           th:href="@{'~/post/add/' + ${post.id}}"
                           th:if="${#authentication.getPrincipal().getUsername()} eq ${post.author.username}">Edit</a>
                        <form action="#" class="d-inline" method="POST" sec:authorize="isAuthenticated()"
                              th:action="@{'~/post/' + ${post.id} + '/delete'}"
                              th:if="${#authentication.getPrincipal().getUsername()} eq ${post.author.username}">
                            <button class="btn btn-sm btn-secondary" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
                <h6 class="card-subtitle mb-2 text-muted" th:text="${post.author.username}">POST AUTHOR</h6>
                <p class="card-text" th:text="${post.text}">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Consequuntur eaque, pariatur recusandae laudantium odio provident officia quos sunt sapiente
                    impedit! Voluptates quod quo ratione doloremque, voluptas provident autem temporibus dignissimos
                    recusandae ut error, laboriosam labore cum dicta iusto expedita? Eius dolor, nostrum harum
                    voluptatum in quisquam molestias quasi provident veniam voluptatem facere totam debitis?
                    Quisquam rem culpa, ducimus, cupiditate voluptatum repellendus inventore deserunt dolorum
                    laudantium fugiat nobis minima sint doloremque rerum corrupti earum, labore exercitationem! Unde
                    asperiores minus tempore sequi delectus veniam. Perspiciatis laborum a sit corrupti quas cumque
                    laboriosam expedita? Excepturi eos recusandae quisquam temporibus deleniti voluptatum, dolores
                    illo!</p>
                <div id="comments-section">
                    <div class="card bg-dark mb-2 border-light" th:each="comment : ${post.comments}">
                        <div class="card-body">
                            <h6 class="card-subtitle text-muted" th:text="${comment.author.username}">COMMENT
                                AUTHOR</h6>
                            <p class="card-text" th:text="${comment.text}">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Ipsum voluptatum ipsa nobis nihil! Facilis enim dolore sunt
                                cumque, ipsam fugiat.</p>
                        </div>
                    </div>
                    <div class="card bg-dark mb-2 border-light" th:remove="all">
                        <div class="card-body">
                            <h6 class="card-subtitle text-muted">COMMENT
                                AUTHOR</h6>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Ipsum voluptatum ipsa nobis nihil! Facilis enim dolore sunt
                                cumque, ipsam fugiat.</p>
                        </div>
                    </div>
                    <div class="card bg-dark mb-2 border-light" sec:authorize="isAuthenticated()">
                        <div class="card-body">
                            <h6 class="card-subtitle text-muted"
                                th:text="${#authentication.getPrincipal().getUsername()}">COMMENT AUTHOR</h6>

                            <form action="#" method="POST" th:action="@{'~/post/' + ${post.id} + '/addcomment'}">
                                <div class="input-group my-2">
                                    <textarea class="form-control bg-dark text-light" name="text"
                                              placeholder="Comment"></textarea>
                                </div>
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>