<!doctype html>
<html lang="en" th:fragment="base(content, scripts)" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Yablog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{~/static/css/bootstrap.min.css}">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{~/static/css/style.css}">

    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
          integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" rel="stylesheet"/>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#" th:href="@{~/}">Yablog</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link" href="#" th:href="@{~/login}">Login</a>
        </li>
        <li class="nav-item d-flex align-items-center" sec:authorize="isAuthenticated()">
            <form action="/logout" class="mr-2" method="POST" th:action="@{~/logout}">
                <button class="p-2 btn btn-primary" type="submit">Logout</button>
            </form>
            <a class="mr-2 p-2 nav-link btn btn-secondary" href="#" th:href="@{~/post/new}">Add Post</a>
            <a class="mr-2 p-2 nav-link btn btn-secondary"
               href="#" th:href="@{'~/user/' + ${#authentication.getPrincipal().getUser().getId()}} + '/show'"
               th:text="${#authentication.getPrincipal().getUsername()}">USERNAME</a>
        </li>
    </ul>
</nav>

<div id="content" th:replace="${content}"></div>

<footer class="footer mt-auto py-3 bg-primary">
    <div class="container">
        <span class="text-muted">Made by <a href="https://github.com/Discrimy">@discrimy</a></span>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
</script>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
</script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
</script>

<th:block th:replace="${scripts}"></th:block>
</body>

</html>