<!doctype html>
<html lang="en" th:replace="base :: base(~{::#content}, _)" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Yablog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{~/static/css/bootstrap.min.css}">
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{~/static/css/style.css}">
</head>

<body>

<div id="content">
    <div class="container">
        <form action="/login" class="p-3 rounded bg-dark text-light" method="POST" th:action="@{~/login}">
            <div class="form-group">
                <label for="username-input">Username</label>
                <input class="form-control" id="username-input" name="username" placeholder="Username" type="text">
            </div>
            <div class="form-group">
                <label for="password-input">Password</label>
                <input class="form-control" id="password-input" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>

</body>

</html>